// Breakpoints

@media (min-width: 64em){

}

$breakpoints-up: (
    // 640 px
    "medium": "40em",
    // 1024 px
    "large": "64em",
    // 1400 px
    "xlarge": "87.5em"
    );

$breakpoints-down: (
    // 639 px
    "small": "39.9375em",
    // 1023 px
    "medium": "63.9375em",
    // 1399 px
    "large": "87.4375em",
    );

@mixin breakpoint-up($size){
    @media (min-width: map-get($breakpoints-up, $size)){
        @content;
    }
}

@mixin breakpoint-down($size){
    @media (max-width: map-get($breakpoints-down, $size)){
        @content;
    }
}

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}